/* RESETS */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
}

footer {
  width: 100%;
}

iframe {
  width: 100%;
  height: 90%;
}

main {
  background-color: #f5f5f5;
}

/* RESETS */
/* HEADER */
.bg-color-propio {
  background-color: #00182E;
}

/* HEADER */
/* BANNER */
#fondo-banner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#fondo-banner h1 {
  font-style: italic;
  background-image: linear-gradient(to top, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.4431372549));
}
#fondo-banner div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0), #f5f5f5 100%);
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}

/* FONDOS DEL BANNER DE CADA PAGINA */
.fondo-index {
  background-image: url(../assets/img/fondo-index.jpg);
}

.fondo-nosotros {
  background-image: url(../assets/img/fondo-nosotros.jpg);
}

.fondo-areas {
  background-image: url(../assets/img/fondo-areas.jpg);
}

.fondo-contacto {
  background-image: url(../assets/img/fondo-contacto.jpg);
}

/* FONDOS DEL BANNER DE CADA PAGINA */
/* BANNER */
/* MAIN */
/* AREAS */
.a-areas {
  text-decoration: none;
  color: black;
}

/* AREAS */
/* CONTACTO */
.border-mio {
  /* BORDES DE LOS INPUT */
  height: 105%;
  border-style: none;
}

#aside-info {
  display: none;
}

/* CONTACTO */
/* NOSOTROS */
/* NOSOTROS */
/* ICON WPP FLOTANTE */
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 13%;
  right: 10px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

/* ICON WPP FLOTANTE */
/* CARROUSEL */
.border-crr {
  border: 1px solid black;
}

.h-maximo {
  max-width: 2000px;
  max-height: 1000px;
}

/* CARROUSEL */
.p-main {
  max-height: 100%;
  padding: 0 5%;
}

.p-sections {
  padding: 0 5%;
}

/* MAIN */
/* FOOTER */
footer div div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
}
footer div div a {
  text-decoration: none;
  color: #f5f5f5;
}
footer div div a:hover {
  color: rgb(205, 218, 247);
  font-size: 110%;
}
footer #footer-copy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}
footer #footer-copy a {
  text-decoration: none;
  color: #f5f5f5;
}
footer #footer-copy a:hover {
  color: deeppink;
}

/* FOOTER */
/* MEDIAS QUERIES */
@media (max-width: 576px) {
  #art2-nosotros, #art1-nosotros {
    display: block;
  }

  .h2-nosotros-md,
.p-nosotros-md {
    text-align: center;
  }

  .border-imagen {
    border-top: 11px solid #00182E;
    border-radius: 37px 37px 0px 0px;
  }

  .border-imagen-r {
    border-top: 11px solid #00182E;
    border-radius: 37px 37px 0px 0px;
  }
}
@media (min-width: 577px) {
  .border-imagen {
    border-left: 11px solid #00182E;
    border-radius: 37px 0px 0px 0px;
  }

  .border-imagen-r {
    border-left: 11px solid #00182E;
    border-radius: 37px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  #aside-info {
    display: block;
  }
}
@media (max-width: 1199px) {
  .h1-index {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  #art2-nosotros, #art-areas {
    display: flex;
    flex-flow: row-reverse nowrap;
  }

  .h2-nosotros,
.p-nosotros,
.p-areas {
    text-align: end;
  }

  .border-imagen-r {
    transform: scale(-1, 1);
  }
}
/* MEDIAS QUERIES */

/*# sourceMappingURL=estilos.css.map */
