@media (max-width:576px) {
    #art2-nosotros, #art1-nosotros{
        display: block;
    }
    .h2-nosotros-md, 
    .p-nosotros-md{
        text-align: center;
    }
    .border-imagen{ 
        border-top: 11px solid $color-main;
        border-radius: 37px 37px 0px 0px;
    }
    .border-imagen-r{ 
        border-top: 11px solid $color-main;
        border-radius: 37px 37px 0px 0px;
    }
    .index-art{
        display: block;
        
    }
}
@media (min-width:577px){
    .border-imagen{ 
        border-left: 11px solid $color-main;
        border-radius: 37px 0px 0px 0px;
    }
    .border-imagen-r{ 
        border-left: 11px solid $color-main;
        border-radius: 37px 0px 0px 0px;
    }
}
@media (min-width: 768px) {
    #aside-info{
        display: block
    }
}
@media (max-width: 1199px){
    .h1-index{
        text-align: center;
    }
    
}
@media(min-width:1200px){
    #art2-nosotros, #art-areas{
        display: flex;
        flex-flow: row-reverse nowrap;
    }
    .h2-nosotros, 
    .p-nosotros,
    .p-areas{
        text-align: end;
    }
    .border-imagen-r{ 
        transform: scale(-1, 1);
    }
    .index-art{
        display: flex;
        flex-flow: row-reverse   nowrap;
        align-items: center;
    }
    .img-index{
        margin-left: 5%;
    }
    .p-index{
        max-width: 65%;
        
    }
    .fondo-art{
        background-color: rgba(169, 169, 169, 0.849);
        height: 70%;
    }
}

